/* =========================================================
 hoge
========================================================= */
.sample {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-pack: center;
      justify-content: center;
  transform: translate(50%, 50%);
}

/* =========================================================
 moge
========================================================= */
/* =========================================================
 fuga
========================================================= */