@charset "UTF-8";

/* =========================================================
 bbb
========================================================= */

.sample {
  display: block;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  transform: translate(50%, 50%);
}
